block navbar
	nav.blue
		.nav-wrapper
			.brand-logo
				a(href="/") NodeJS Forum
			a(href='#', data-target='mobile-demo').sidenav-trigger.right
				i.material-icons menu
			ul.right.hide-on-med-and-down
				li
					a(href="/") Home
				li
					a(href="/forums") Forums
				li
					a(href="/about") About
				unless user.loggedIn
					li
						a(href="/login") Login
					li
						a(href="/register") Register
				else
					li
						a(href="/logout") Logout
		ul(id='mobile-demo').sidenav
			li
				a(href="/") Home
			li
				a(href="/forums") Forums
			li
				a(href="/about") About
			unless user.loggedIn
				li
					a(href="/login") Login
				li
					a(href="/register") Register
			else
				li
					a(href="/logout") Logout
