extends layout

block content
	.container.center
		h1 Categories
		if user.level >= 5
			a(href='admin/new/category').btn New
		table.categories.highlight
			each category in categories
				tr
					th.name.center
						a(href='/forums/#{category.urlname}')= category.name
					th.description.center= category.description