extends layout

block content
	.container.center
		h1= form.title
		form(method='#{form.method}')
			each input in form.inputs
				.input-field
					input(placeholder='#{input.label}', id='#{input.name}', name='#{input.name}', type='#{input.type}').validate
					label(for='#{input.name}').black-text #{input.label}

			input(type='submit', value='#{form.submit}').btn