extends layout

block content
	.container.center
		h1= thread
		button.btn.modal-trigger.waves-effect.waves-light(data-target='modal1') New post
		#modal1.modal
			.modal-content.grey.lighten-2
				h2 New Post
				form(method='post')
					input(placeholder='Body', name='body', type='text')#body
					input(type='submit').btn
			.modal-footer.grey.lighten-2
				a(href='#!').btn.modal-close Cancel
		table.posts
			each post in posts
				tr
					th.poster= post.owner
					th.description= post.body