extends layout

block content
	.container.center
		h1= category
		button.btn.modal-trigger.waves-effect.waves-light(data-target='modal1') Create thread
		#modal1.modal
			.modal-content.grey.lighten-2
				h2 New Thread
				form(method='post')
					input(placeholder='Title', name='title', type='text')#title
					input(placeholder='Body', name='body', type='text')#body
					input(type='submit').btn
			.modal-footer.grey.lighten-2
				a(href='#!').btn.modal-close Cancel
		table.categories.highlight
			each thread in threads
				tr
					th.name.center
						a(href='/forums/#{category}/#{thread._id}')= thread.name
					th.description.center= thread.description